In [1]:
import pandas as pd
import numpy as np

In [2]:
import os

#Define the path to the folder containing the CSV files
folder_path = 'idsdatasets'

#Get a list of all the CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

dfs = {}

#Loop through each CSV file and read it into a dataframe
for file in csv_files:
    df_name = os.path.splitext(file)[0]  # Get the dataframe name from the file name
    file_path = os.path.join(folder_path, file)  # Get the full file path
    df = pd.read_csv(file_path)  # Read the CSV file into a dataframe
    dfs[df_name] = df  # Assign the dataframe to a variable with the same name as the file (e.g. 'data1 = df1')

C:\Users\amenu4aie20110\AppData\Local\Temp\ipykernel_3152\826302849.py:15: DtypeWarning: Columns (0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)  # Read the CSV file into a dataframe

KeyboardInterrupt:

In [ ]:
dfs['02-20-2018'].drop(['Flow ID','Src IP','Dst IP'], axis=1, inplace=True)

In [ ]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    #count = df.values.ravel().tolist().count(np.inf)
    #count = np.sum(df.values == np.inf)
    #count2 = np.sum(df.values == -np.inf)
    #print(f"Inf:'{count}'\n -Inf:'{count2}'\n")
    # replace +ve and -ve infinity with NaN

    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    # Drop all NaN values
    df.dropna(inplace=True)

Dataframe: '02-14-2018'

Dataframe: '02-15-2018'

Dataframe: '02-16-2018'

Dataframe: '02-20-2018'

Dataframe: '02-21-2018'

Dataframe: '02-22-2018'

Dataframe: '02-23-2018'

Dataframe: '02-28-2018'

Dataframe: '03-01-2018'

Dataframe: '03-02-2018'

In [ ]:
labels = []
for i in dfs:
    for j in dfs[i]['Label'].unique():
        labels.append(j)
labels = list(set(labels))
labels

['DoS attacks-GoldenEye',
 'DoS attacks-SlowHTTPTest',
 'DDOS attack-LOIC-UDP',
 'Infilteration',
 'Benign',
 'SQL Injection',
 'SSH-Bruteforce',
 'Brute Force -Web',
 'Brute Force -XSS',
 'DDOS attack-HOIC',
 'Label',
 'DoS attacks-Slowloris',
 'Bot',
 'FTP-BruteForce',
 'DDoS attacks-LOIC-HTTP',
 'DoS attacks-Hulk']

In [ ]:
#labels.remove('Benign')
labels.remove("Label")
labels

['DoS attacks-GoldenEye',
 'DoS attacks-SlowHTTPTest',
 'DDOS attack-LOIC-UDP',
 'Infilteration',
 'SQL Injection',
 'SSH-Bruteforce',
 'Brute Force -Web',
 'Brute Force -XSS',
 'DDOS attack-HOIC',
 'DoS attacks-Slowloris',
 'Bot',
 'FTP-BruteForce',
 'DDoS attacks-LOIC-HTTP',
 'DoS attacks-Hulk']

In [ ]:
attackdfs = {}
for i in labels:
    df = pd.DataFrame()
    for j in dfs:
        if i in dfs[j]['Label'].unique():
            df = pd.concat([df, dfs[j][dfs[j]['Label'] == i]], axis=0)
            df.reset_index(inplace=True, drop=True)
    attackdfs[i] = df

In [9]:
attackdfs['DDoS attacks-LOIC-HTTP'].drop(['Src Port'], axis=1, inplace=True)

In [12]:
attackdfs['Benign'].drop(['Src Port'], axis=1, inplace=True)

KeyError: 'Benign'

In [10]:
attackdfs['Benign'] = attackdfs['Benign'].sample(frac=0.028).reset_index(drop=True)

KeyError: 'Benign'

In [11]:
for i in attackdfs:
    if "Src Port" in attackdfs[i].columns:
        print(i)

In [12]:
dfs = attackdfs

In [13]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    # Drop all NaN values
    df.dropna(inplace=True)

Dataframe: 'DoS attacks-GoldenEye'

Dataframe: 'DoS attacks-SlowHTTPTest'

Dataframe: 'DDOS attack-LOIC-UDP'

Dataframe: 'Infilteration'

Dataframe: 'SQL Injection'

Dataframe: 'SSH-Bruteforce'

Dataframe: 'Brute Force -Web'

Dataframe: 'Brute Force -XSS'

Dataframe: 'DDOS attack-HOIC'

Dataframe: 'DoS attacks-Slowloris'

Dataframe: 'Bot'

Dataframe: 'FTP-BruteForce'

Dataframe: 'DDoS attacks-LOIC-HTTP'

Dataframe: 'DoS attacks-Hulk'

In [14]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key   
    df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%d/%m/%Y %H:%M:%S', errors='coerce')

In [15]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key   
    df['Timestamp'] = (df['Timestamp'] - pd.Timestamp("1970-01-01")) // pd.Timedelta('1s')

In [16]:
#Iterate throught each dataframe in the dictionary
for key in dfs.keys():
    df = dfs[key]
    for col in df.columns:
        #Check if the datatype of the column is object
        if df[col].dtype == 'object' and col != 'Label':
            # Change all values to numeric, and to NaN if it is a strig
            df[col] = pd.to_numeric(df[col], errors='coerce')

In [17]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    count_NA = df.isna().sum()
    print(count_NA)

Dataframe: 'DoS attacks-GoldenEye'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-SlowHTTPTest'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DDOS attack-LOIC-UDP'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'Infilteration'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'SQL Injection'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'SSH-Bruteforce'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'Brute Force -Web'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'Brute Force -XSS'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DDOS attack-HOIC'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-Slowloris'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'Bot'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'FTP-BruteForce'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DDoS attacks-LOIC-HTTP'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-Hulk'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64

In [18]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    df.dropna(inplace=True)

In [19]:
from scipy import stats

for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key

    # Define a function to filter outliers using Z-score
    def filter_outliers_zscore(data, threshold):
        z_scores = np.abs(stats.zscore(data))
        outlier_mask = (z_scores > threshold).any(axis=1)
        return data[~outlier_mask], data[outlier_mask]

    # Define a threshold value
    threshold = 7


    # The filtering was removing all DDoS-LOIC-UDP, so we will not execute it on them

    if key == 'DDOS attack-LOIC-UDP':
        df_temp = df[df['Label'] == 'DDOS attack-LOIC-UDP']
        df = df[df['Label'] != 'DDOS attack-LOIC-UDP']
        



    # Loop through the columns of the dataframe and filter outliers in each column
    filtered_cols = []
    removed_outliers = []
    for col in df.columns:
        if col != 'Label':
            filtered_col, outliers = filter_outliers_zscore(df[[col]], threshold)
            
            filtered_cols.append(filtered_col)
            removed_outliers.append(outliers)

    # Combine the filtered columns back into a dataframe
    df_filtered = pd.concat(filtered_cols, axis=1)

    # Combine the removed outliers back into a dataframe
    df_outliers = pd.concat(removed_outliers, axis=1)

    # Dataframe filtering comparison

    print(f'\nDataframe: {key} Shape: {df.shape}')

    # Print the number of outliers removed for each column
    
    print('Outlier removal summary:')
    n_outliers = df_outliers.shape[0]
    print(f'{n_outliers} outliers rows to be removed')

    # Print the original dataframe and the filtered dataframe side by side
    print('\nOriginal dataframe:')
    display(df.head())
    
    # Assign filtered dataframe columns to original one
    columns = [col for col in df.columns if col != 'Label']
    df.loc[:,columns] = df_filtered.loc[:,columns]
    

    # Recombine rows from 'DDOS attack-LOIC-UDP'
    if key == 'DDOS attack-LOIC-UDP':
        df = pd.concat([df,df_temp])


    print('\nFiltered dataframe:')
    display(df.head())

    # Print the removed outliers dataframe
    print('\nRemoved outliers:')
    display(df_outliers.head())

    # Count how many rows of each attack were removed from original dataframe
    values_orig = df.loc[df.index.isin(df_outliers.index), 'Label']
    print(f'\n{values_orig.value_counts()}')

Dataframe: DoS attacks-GoldenEye Shape: (41508, 80)
Outlier removal summary:
840 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1518686866,6010454,4,4,285,972,285,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-GoldenEye
1,80,6,1518686866,6005042,4,4,422,662,422,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-GoldenEye
2,80,6,1518686866,6003639,4,4,548,972,548,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-GoldenEye
3,80,6,1518686866,5998377,4,4,327,972,327,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-GoldenEye
4,80,6,1518686866,5999806,4,4,378,972,378,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-GoldenEye

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1518686866,6010454,4.0,4,285.0,972,285,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DoS attacks-GoldenEye
1,80,6,1518686866,6005042,4.0,4,422.0,662,422,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DoS attacks-GoldenEye
2,80,6,1518686866,6003639,4.0,4,548.0,972,548,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DoS attacks-GoldenEye
3,80,6,1518686866,5998377,4.0,4,327.0,972,327,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DoS attacks-GoldenEye
4,80,6,1518686866,5999806,4.0,4,378.0,972,378,0.0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,DoS attacks-GoldenEye

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
14441,NaN,NaN,NaN,NaN,17.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,6969716.0,NaN,NaN,6655897.0,NaN,NaN,NaN,NaN
15180,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,9221378.0,6.491847e+06,13811807.0,NaN,NaN,7.302311e+06,NaN,NaN
35531,NaN,NaN,NaN,NaN,17.0,NaN,5555.0,NaN,NaN,NaN,...,11.0,NaN,9226443.0,6.500038e+06,13822664.0,NaN,NaN,2.064723e+07,NaN,NaN
39548,NaN,NaN,NaN,NaN,18.0,NaN,4620.0,NaN,NaN,NaN,...,10.0,NaN,9098133.5,6.680748e+06,13822136.0,NaN,NaN,7.824655e+06,NaN,NaN
1452,NaN,NaN,NaN,NaN,NaN,NaN,4512.0,NaN,NaN,NaN,...,NaN,NaN,NaN,5.449070e+06,7706154.0,NaN,NaN,NaN,NaN,NaN

Label
DoS attacks-GoldenEye    840
Name: count, dtype: int64

Dataframe: DoS attacks-SlowHTTPTest Shape: (139890, 80)
Outlier removal summary:
13 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,21,6,1518775934,21,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
1,21,6,1518775934,3,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
2,21,6,1518775934,3,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
3,21,6,1518775934,3,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
4,21,6,1518775934,2,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,21,6,1518775934,21.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
1,21,6,1518775934,3.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
2,21,6,1518775934,3.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
3,21,6,1518775934,3.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest
4,21,6,1518775934,2.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-SlowHTTPTest

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
1220,NaN,NaN,NaN,54,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9890,NaN,NaN,NaN,58,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15020,NaN,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39140,NaN,NaN,NaN,50,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58540,NaN,NaN,NaN,54,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
DoS attacks-SlowHTTPTest    13
Name: count, dtype: int64

Dataframe: DDOS attack-LOIC-UDP Shape: (0, 80)
Outlier removal summary:
0 outliers rows to be removed

Original dataframe:

Empty DataFrame
Columns: [Dst Port, Protocol, Timestamp, Flow Duration, Tot Fwd Pkts, Tot Bwd Pkts, TotLen Fwd Pkts, TotLen Bwd Pkts, Fwd Pkt Len Max, Fwd Pkt Len Min, Fwd Pkt Len Mean, Fwd Pkt Len Std, Bwd Pkt Len Max, Bwd Pkt Len Min, Bwd Pkt Len Mean, Bwd Pkt Len Std, Flow Byts/s, Flow Pkts/s, Flow IAT Mean, Flow IAT Std, Flow IAT Max, Flow IAT Min, Fwd IAT Tot, Fwd IAT Mean, Fwd IAT Std, Fwd IAT Max, Fwd IAT Min, Bwd IAT Tot, Bwd IAT Mean, Bwd IAT Std, Bwd IAT Max, Bwd IAT Min, Fwd PSH Flags, Bwd PSH Flags, Fwd URG Flags, Bwd URG Flags, Fwd Header Len, Bwd Header Len, Fwd Pkts/s, Bwd Pkts/s, Pkt Len Min, Pkt Len Max, Pkt Len Mean, Pkt Len Std, Pkt Len Var, FIN Flag Cnt, SYN Flag Cnt, RST Flag Cnt, PSH Flag Cnt, ACK Flag Cnt, URG Flag Cnt, CWE Flag Count, ECE Flag Cnt, Down/Up Ratio, Pkt Size Avg, Fwd Seg Size Avg, Bwd Seg Size Avg, Fwd Byts/b Avg, Fwd Pkts/b Avg, Fwd Blk Rate Avg, Bwd Byts/b Avg, Bwd Pkts/b Avg, Bwd Blk Rate Avg, Subflow Fwd Pkts, Subflow Fwd Byts, Subflow Bwd Pkts, Subflow Bwd Byts, Init Fwd Win Byts, Init Bwd Win Byts, Fwd Act Data Pkts, Fwd Seg Size Min, Active Mean, Active Std, Active Max, Active Min, Idle Mean, Idle Std, Idle Max, Idle Min, Label]
Index: []

[0 rows x 80 columns]

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,17,1519207731,119893441,309629,0,9908128,0,32,32,...,8,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-LOIC-UDP
1,80,17,1519207732,119745803,259444,0,8302208,0,32,32,...,8,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-LOIC-UDP
2,80,17,1519207733,119965025,248800,0,7961600,0,32,32,...,8,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-LOIC-UDP
3,80,17,1519207734,119999991,272337,0,8714784,0,32,32,...,8,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-LOIC-UDP
4,80,17,1519207734,119820553,219539,0,7025248,0,32,32,...,8,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-LOIC-UDP

Removed outliers:

Empty DataFrame
Columns: [Dst Port, Protocol, Timestamp, Flow Duration, Tot Fwd Pkts, Tot Bwd Pkts, TotLen Fwd Pkts, TotLen Bwd Pkts, Fwd Pkt Len Max, Fwd Pkt Len Min, Fwd Pkt Len Mean, Fwd Pkt Len Std, Bwd Pkt Len Max, Bwd Pkt Len Min, Bwd Pkt Len Mean, Bwd Pkt Len Std, Flow Byts/s, Flow Pkts/s, Flow IAT Mean, Flow IAT Std, Flow IAT Max, Flow IAT Min, Fwd IAT Tot, Fwd IAT Mean, Fwd IAT Std, Fwd IAT Max, Fwd IAT Min, Bwd IAT Tot, Bwd IAT Mean, Bwd IAT Std, Bwd IAT Max, Bwd IAT Min, Fwd PSH Flags, Bwd PSH Flags, Fwd URG Flags, Bwd URG Flags, Fwd Header Len, Bwd Header Len, Fwd Pkts/s, Bwd Pkts/s, Pkt Len Min, Pkt Len Max, Pkt Len Mean, Pkt Len Std, Pkt Len Var, FIN Flag Cnt, SYN Flag Cnt, RST Flag Cnt, PSH Flag Cnt, ACK Flag Cnt, URG Flag Cnt, CWE Flag Count, ECE Flag Cnt, Down/Up Ratio, Pkt Size Avg, Fwd Seg Size Avg, Bwd Seg Size Avg, Fwd Byts/b Avg, Fwd Pkts/b Avg, Fwd Blk Rate Avg, Bwd Byts/b Avg, Bwd Pkts/b Avg, Bwd Blk Rate Avg, Subflow Fwd Pkts, Subflow Fwd Byts, Subflow Bwd Pkts, Subflow Bwd Byts, Init Fwd Win Byts, Init Bwd Win Byts, Fwd Act Data Pkts, Fwd Seg Size Min, Active Mean, Active Std, Active Max, Active Min, Idle Mean, Idle Std, Idle Max, Idle Min]
Index: []

[0 rows x 79 columns]

Series([], Name: count, dtype: int64)

c:\Users\amenu4aie20110\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\_methods.py:173: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)
c:\Users\amenu4aie20110\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\_methods.py:173: RuntimeWarning: invalid value encountered in subtract
  x = asanyarray(arr - arrmean)

Dataframe: Infilteration Shape: (160739, 80)
Outlier removal summary:
7759 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,1519815003,198,3,0,77,0,46,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Infilteration
1,443,6,1519815005,223,3,0,77,0,46,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Infilteration
2,443,6,1519815005,587,3,0,77,0,46,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Infilteration
3,443,6,1519815005,763,3,0,77,0,46,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Infilteration
4,443,6,1519815005,852,3,0,77,0,46,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Infilteration

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,443,6,1519815003,198,3.0,0.0,77.0,0.0,46,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Infilteration
1,443,6,1519815005,223,3.0,0.0,77.0,0.0,46,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Infilteration
2,443,6,1519815005,587,3.0,0.0,77.0,0.0,46,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Infilteration
3,443,6,1519815005,763,3.0,0.0,77.0,0.0,46,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Infilteration
4,443,6,1519815005,852,3.0,0.0,77.0,0.0,46,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Infilteration

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
3419,NaN,NaN,NaN,NaN,345.0,NaN,492869.0,NaN,NaN,353.0,...,344.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5937,NaN,NaN,NaN,NaN,425.0,851.0,NaN,1110352.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33200000.0,NaN,NaN
28569,NaN,NaN,NaN,NaN,482.0,1013.0,NaN,1437868.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29706,NaN,NaN,NaN,NaN,754.0,1461.0,NaN,2038430.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30363,NaN,NaN,NaN,NaN,725.0,1533.0,NaN,2179217.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
Infilteration    7759
Name: count, dtype: int64

Dataframe: SQL Injection Shape: (87, 80)
Outlier removal summary:
1 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519272870,5061043,5,5,1295,1411,649,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
1,80,6,1519272875,43,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
2,80,6,1519272885,5011561,4,4,603,364,603,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
3,80,6,1519272890,13,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
4,80,6,1519272885,12903217,16,11,3208,13898,598,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519272870,5061043,5,5,1295,1411,649,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
1,80,6,1519272875,43,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
2,80,6,1519272885,5011561,4,4,603,364,603,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
3,80,6,1519272890,13,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection
4,80,6,1519272885,12903217,16,11,3208,13898,598,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,SQL Injection

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
SQL Injection    1
Name: count, dtype: int64

Dataframe: SSH-Bruteforce Shape: (187589, 80)
Outlier removal summary:
120 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,22,6,1518573710,555650,22,22,1928,2665,640,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
1,22,6,1518573710,560585,22,22,1944,2665,640,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
2,22,6,1518573710,530547,22,20,1928,2665,640,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
3,22,6,1518573710,533609,22,21,1960,2665,640,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
4,22,6,1518573710,565469,22,21,1944,2665,640,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,22.0,6,1518573710,555650,22,22,1928,2665,640,0,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
1,22.0,6,1518573710,560585,22,22,1944,2665,640,0,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
2,22.0,6,1518573710,530547,22,20,1928,2665,640,0,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
3,22.0,6,1518573710,533609,22,21,1960,2665,640,0,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce
4,22.0,6,1518573710,565469,22,21,1944,2665,640,0,...,32.0,0.0,0.0,0,0,0.0,0.0,0,0,SSH-Bruteforce

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
173628,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174348,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174825,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175040,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175692,21.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
SSH-Bruteforce    120
Name: count, dtype: int64

Dataframe: Brute Force -Web Shape: (611, 80)
Outlier removal summary:
11 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519294424,6499677,13,10,2333,4425,431,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
1,80,6,1519294431,46,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
2,80,6,1519294425,6397036,4,7,372,9375,372,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
3,80,6,1519294431,6,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
4,80,6,1519294431,5022507,4,4,599,364,599,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80.0,6,1519294424,6499677,13,10,2333,4425,431,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
1,80.0,6,1519294431,46,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
2,80.0,6,1519294425,6397036,4,7,372,9375,372,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
3,80.0,6,1519294431,6,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web
4,80.0,6,1519294431,5022507,4,4,599,364,599,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -Web

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
326,31808.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
353,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
Brute Force -Web    11
Name: count, dtype: int64

Dataframe: Brute Force -XSS Shape: (230, 80)
Outlier removal summary:
11 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519264299,5295883,4,4,365,809,365,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -XSS
1,80,6,1519264305,13,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -XSS
2,80,6,1519264299,53674157,199,109,54405,195116,680,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -XSS
3,80,6,1519264353,156,2,0,0,0,0,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -XSS
4,80,6,1519264384,5284445,4,4,365,809,365,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,Brute Force -XSS

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80.0,6,1519264299,5295883,4,4,365,809,365,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
1,80.0,6,1519264305,13,2,0,0,0,0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
2,80.0,6,1519264299,53674157,199,109,54405,195116,680,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
3,80.0,6,1519264353,156,2,0,0,0,0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
4,80.0,6,1519264384,5284445,4,4,365,809,365,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
220,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,...,NaN,NaN,4000190.0,NaN,4000190.0,4000190.0,21369916.00,1.528016e+07,41988063.0,7200414.0
221,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,...,NaN,NaN,4000186.0,NaN,4000186.0,4000186.0,21369916.00,1.528015e+07,41988062.0,7200414.0
223,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,...,NaN,NaN,4000116.0,NaN,4000116.0,4000116.0,21369723.75,1.528101e+07,41990102.0,7200353.0
224,500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,500.0,...,NaN,NaN,4000116.0,NaN,4000116.0,4000116.0,21369723.50,1.528101e+07,41990101.0,7200353.0
222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
Brute Force -XSS    11
Name: count, dtype: int64

Dataframe: DDOS attack-HOIC Shape: (686012, 80)
Outlier removal summary:
2405 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519179068,31105,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
1,80,6,1519179068,30092,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
2,80,6,1519179068,33993,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
3,80,6,1519179068,33099,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
4,80,6,1519179068,32149,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519179068,31105.0,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
1,80,6,1519179068,30092.0,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
2,80,6,1519179068,33993.0,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
3,80,6,1519179068,33099.0,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC
4,80,6,1519179068,32149.0,3,4,336,935,336,0,...,20,0.0,0.0,0,0,0.0,0.0,0,0,DDOS attack-HOIC

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
597525,NaN,NaN,NaN,78820.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
605495,NaN,NaN,NaN,75642.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
612076,NaN,NaN,NaN,74805.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
615883,NaN,NaN,NaN,88511.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
616697,NaN,NaN,NaN,74127.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
DDOS attack-HOIC    2405
Name: count, dtype: int64

Dataframe: DoS attacks-Slowloris Shape: (10990, 80)
Outlier removal summary:
522 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1518692412,3863707,8,2,920,0,230,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
1,80,6,1518692415,1023719,4,2,230,0,230,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
2,80,6,1518692416,830593,6,2,920,0,230,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
3,80,6,1518692421,578,3,2,230,0,230,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
4,80,6,1518692421,1067,3,2,230,0,230,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1518692412,3863707,8,2,920,0.0,230,0.0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
1,80,6,1518692415,1023719,4,2,230,0.0,230,0.0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
2,80,6,1518692416,830593,6,2,920,0.0,230,0.0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
3,80,6,1518692421,578,3,2,230,0.0,230,0.0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris
4,80,6,1518692421,1067,3,2,230,0.0,230,0.0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Slowloris

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
3820,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3821,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,516.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
DoS attacks-Slowloris    522
Name: count, dtype: int64

Dataframe: Bot Shape: (286191, 80)
Outlier removal summary:
5371 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,8080,6,1519985827,16079,3,4,326,129.0,326,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
1,8080,6,1519985827,577,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
2,8080,6,1519985829,10279,3,4,326,129.0,326,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
3,8080,6,1519985829,457,2,0,0,0.0,0,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
4,8080,6,1519985831,10271,3,4,326,129.0,326,0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,8080.0,6.0,1519985827,16079.0,3.0,4.0,326.0,129.0,326.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
1,8080.0,6.0,1519985827,577.0,2.0,0.0,0.0,0.0,0.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
2,8080.0,6.0,1519985829,10279.0,3.0,4.0,326.0,129.0,326.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
3,8080.0,6.0,1519985829,457.0,2.0,0.0,0.0,0.0,0.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
4,8080.0,6.0,1519985831,10271.0,3.0,4.0,326.0,129.0,326.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
7903,55063.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29205,50745.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29207,50746.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29209,50747.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29213,50749.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
Bot    5371
Name: count, dtype: int64

Dataframe: FTP-BruteForce Shape: (193354, 80)
Outlier removal summary:
23 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,21,6,1518604406,19,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
1,21,6,1518604406,3,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
2,21,6,1518604406,3,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
3,21,6,1518604406,2,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
4,21,6,1518604406,2,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,21,6,1518604406,19.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
1,21,6,1518604406,3.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
2,21,6,1518604406,3.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
3,21,6,1518604406,2.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce
4,21,6,1518604406,2.0,1,1,0,0,0,0,...,40,0.0,0.0,0,0,0.0,0.0,0,0,FTP-BruteForce

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
3080,NaN,NaN,NaN,51,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13310,NaN,NaN,NaN,47,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30730,NaN,NaN,NaN,52,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42189,NaN,NaN,NaN,47,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47718,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
FTP-BruteForce    23
Name: count, dtype: int64

Dataframe: DDoS attacks-LOIC-HTTP Shape: (576191, 80)
Outlier removal summary:
3130 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1519121634,3904,3,4,20.0,964.0,20.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
1,80,6,1519121634,762,3,4,20.0,964.0,20.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
2,80,6,1519121634,726,3,4,20.0,964.0,20.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
3,80,6,1519121634,556,3,4,20.0,964.0,20.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
4,80,6,1519121634,916,3,4,20.0,964.0,20.0,0.0,...,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6.0,1.519122e+09,3904,3.0,4,20.0,964.0,20.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
1,80,6.0,1.519122e+09,762,3.0,4,20.0,964.0,20.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
2,80,6.0,1.519122e+09,726,3.0,4,20.0,964.0,20.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
3,80,6.0,1.519122e+09,556,3.0,4,20.0,964.0,20.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP
4,80,6.0,1.519122e+09,916,3.0,4,20.0,964.0,20.0,0.0,...,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDoS attacks-LOIC-HTTP

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
414892,NaN,17.0,1.519089e+09,NaN,280043.0,NaN,8961376.0,NaN,NaN,32.0,...,280042.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414893,NaN,17.0,1.519089e+09,NaN,229456.0,NaN,7342592.0,NaN,NaN,32.0,...,229455.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414894,NaN,17.0,1.519089e+09,NaN,213005.0,NaN,6816160.0,NaN,NaN,32.0,...,213004.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414895,NaN,17.0,1.519089e+09,NaN,194073.0,NaN,6210336.0,NaN,NaN,32.0,...,194072.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
414896,NaN,17.0,1.519089e+09,NaN,220366.0,NaN,7051712.0,NaN,NaN,32.0,...,220365.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Label
DDoS attacks-LOIC-HTTP    3130
Name: count, dtype: int64

Dataframe: DoS attacks-Hulk Shape: (461912, 80)
Outlier removal summary:
6262 outliers rows to be removed

Original dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1518745527,1793,3,4,364,935,364,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Hulk
1,80,6,1518745527,1720,3,4,300,935,300,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Hulk
2,80,6,1518745527,191,2,0,0,0,0,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Hulk
3,80,6,1518745527,912,3,4,359,935,359,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Hulk
4,80,6,1518745527,1869,3,4,384,935,384,0,...,32,0.0,0.0,0,0,0.0,0.0,0,0,DoS attacks-Hulk

Filtered dataframe:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,80,6,1518745527,1793.0,3.0,4,364.0,935,364,0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-Hulk
1,80,6,1518745527,1720.0,3.0,4,300.0,935,300,0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-Hulk
2,80,6,1518745527,191.0,2.0,0,0.0,0,0,0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-Hulk
3,80,6,1518745527,912.0,3.0,4,359.0,935,359,0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-Hulk
4,80,6,1518745527,1869.0,3.0,4,384.0,935,384,0,...,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-Hulk

Removed outliers:

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
156150,NaN,NaN,NaN,61253487.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,61200000.0,NaN,61200000.0,61200000.0
156199,NaN,NaN,NaN,61266477.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,61200000.0,NaN,61200000.0,61200000.0
156398,NaN,NaN,NaN,61249974.0,6.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,61100000.0,NaN,61100000.0,61100000.0
158521,NaN,NaN,NaN,62236061.0,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,61200000.0,NaN,61200000.0,61200000.0
158628,NaN,NaN,NaN,61013945.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,61000000.0,NaN,61000000.0,61000000.0

Label
DoS attacks-Hulk    6262
Name: count, dtype: int64

In [22]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    count_NA = df.isna().sum()
    print(count_NA)

Dataframe: 'FTP-BruteForce'

Dst Port          0
Protocol          0
Timestamp         0
Flow Duration    23
Tot Fwd Pkts      0
                 ..
Idle Mean         0
Idle Std          0
Idle Max          0
Idle Min          0
Label             0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-Slowloris'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-GoldenEye'

Dst Port           0
Protocol           0
Timestamp          0
Flow Duration      0
Tot Fwd Pkts       4
                ...
Idle Mean          0
Idle Std         174
Idle Max           0
Idle Min           0
Label              0
Length: 80, dtype: int64
Dataframe: 'DDOS attack-LOIC-UDP'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-SlowHTTPTest'

Dst Port          0
Protocol          0
Timestamp         0
Flow Duration    13
Tot Fwd Pkts      0
                 ..
Idle Mean         0
Idle Std          0
Idle Max          0
Idle Min          0
Label             0
Length: 80, dtype: int64
Dataframe: 'DDoS attacks-LOIC-HTTP'

Dst Port           0
Protocol         797
Timestamp        797
Flow Duration      0
Tot Fwd Pkts     677
                ...
Idle Mean          0
Idle Std           0
Idle Max           0
Idle Min           0
Label              0
Length: 80, dtype: int64
Dataframe: 'Bot'

Dst Port         4299
Protocol          258
Timestamp           0
Flow Duration     231
Tot Fwd Pkts      239
                 ...
Idle Mean         231
Idle Std            8
Idle Max          231
Idle Min          231
Label               0
Length: 80, dtype: int64
Dataframe: 'DoS attacks-Hulk'

Dst Port            0
Protocol            0
Timestamp           0
Flow Duration    1331
Tot Fwd Pkts     1020
                 ...
Idle Mean        1331
Idle Std            0
Idle Max         1331
Idle Min         1331
Label               0
Length: 80, dtype: int64
Dataframe: 'Brute Force -Web'

Dst Port         1
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'DDOS attack-HOIC'

Dst Port          0
Protocol          0
Timestamp         0
Flow Duration    29
Tot Fwd Pkts      0
                 ..
Idle Mean         0
Idle Std          0
Idle Max          0
Idle Min          0
Label             0
Length: 80, dtype: int64
Dataframe: 'SQL Injection'

Dst Port         0
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        0
Idle Std         0
Idle Max         0
Idle Min         0
Label            0
Length: 80, dtype: int64
Dataframe: 'Brute Force -XSS'

Dst Port         4
Protocol         0
Timestamp        0
Flow Duration    0
Tot Fwd Pkts     0
                ..
Idle Mean        4
Idle Std         4
Idle Max         4
Idle Min         4
Label            0
Length: 80, dtype: int64
Dataframe: 'SSH-Bruteforce'

Dst Port         30
Protocol          0
Timestamp         0
Flow Duration     0
Tot Fwd Pkts      0
                 ..
Idle Mean         0
Idle Std          0
Idle Max          0
Idle Min          0
Label             0
Length: 80, dtype: int64
Dataframe: 'Infilteration'

Dst Port           0
Protocol           0
Timestamp          0
Flow Duration      0
Tot Fwd Pkts      55
                ...
Idle Mean         27
Idle Std         672
Idle Max          21
Idle Min          40
Label              0
Length: 80, dtype: int64

In [20]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    df.dropna(inplace=True)

In [21]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(df.shape)

(40668, 80)
(139877, 80)
(1730, 80)
(152980, 80)
(86, 80)
(187469, 80)
(600, 80)
(219, 80)
(683607, 80)
(10468, 80)
(280820, 80)
(193331, 80)
(573061, 80)
(455650, 80)

In [22]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    # replace +ve and -ve infinity with NaN
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    # Drop all NaN values
    df.dropna(inplace=True)

Dataframe: 'DoS attacks-GoldenEye'

Dataframe: 'DoS attacks-SlowHTTPTest'

Dataframe: 'DDOS attack-LOIC-UDP'

Dataframe: 'Infilteration'

Dataframe: 'SQL Injection'

Dataframe: 'SSH-Bruteforce'

Dataframe: 'Brute Force -Web'

Dataframe: 'Brute Force -XSS'

Dataframe: 'DDOS attack-HOIC'

Dataframe: 'DoS attacks-Slowloris'

Dataframe: 'Bot'

Dataframe: 'FTP-BruteForce'

Dataframe: 'DDoS attacks-LOIC-HTTP'

Dataframe: 'DoS attacks-Hulk'

In [26]:
from sklearn.preprocessing import MinMaxScaler
for key in dfs.keys():
       df = dfs[key]  # Get the dataframe corresponding to the key
       columns = [col for col in df.columns if col != 'Label']
       min_max_scaler = MinMaxScaler().fit(df[columns])
       print(f"Dataframe: {key}\n")
       df[columns] = min_max_scaler.transform(df[columns])
       display(df.head())

Dataframe: FTP-BruteForce

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.73197,2.615952,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FTP-BruteForce
1,0.0,0.0,-1.73197,-0.137321,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FTP-BruteForce
2,0.0,0.0,-1.73197,-0.137321,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FTP-BruteForce
3,0.0,0.0,-1.73197,-0.309401,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FTP-BruteForce
4,0.0,0.0,-1.73197,-0.309401,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,FTP-BruteForce

Dataframe: DoS attacks-Slowloris

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.630817,-1.487619,0.042065,0.043305,-0.147790,0.0,1.080457,-0.662943,...,-0.520582,-0.876766,-0.84771,-0.873992,-0.877634,-0.903389,-0.87316,-1.26034,-0.666383,DoS attacks-Slowloris
1,0.0,0.0,-1.626676,-1.547415,-0.604537,0.043305,-0.704423,0.0,1.080457,-0.662943,...,-0.520582,-0.876766,-0.84771,-0.873992,-0.877634,-0.903389,-0.87316,-1.26034,-0.666383,DoS attacks-Slowloris
2,0.0,0.0,-1.625295,-1.551481,-0.281236,0.043305,-0.147790,0.0,1.080457,-0.662943,...,-0.520582,-0.876766,-0.84771,-0.873992,-0.877634,-0.903389,-0.87316,-1.26034,-0.666383,DoS attacks-Slowloris
3,0.0,0.0,-1.618393,-1.568958,-0.766187,0.043305,-0.704423,0.0,1.080457,-0.662943,...,-0.520582,-0.876766,-0.84771,-0.873992,-0.877634,-0.903389,-0.87316,-1.26034,-0.666383,DoS attacks-Slowloris
4,0.0,0.0,-1.618393,-1.568947,-0.766187,0.043305,-0.704423,0.0,1.080457,-0.662943,...,-0.520582,-0.876766,-0.84771,-0.873992,-0.877634,-0.903389,-0.87316,-1.26034,-0.666383,DoS attacks-Slowloris

Dataframe: DoS attacks-GoldenEye

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.609503,-0.286209,0.316739,0.926888,-0.038074,0.931614,0.040155,0.0,...,0.0,-0.075037,0.0,-0.075037,-0.075037,-0.471012,0.0,-0.471012,-0.471012,DoS attacks-GoldenEye
1,0.0,0.0,-1.609503,-0.286541,0.316739,0.926888,0.413803,0.222664,0.687578,0.0,...,0.0,-0.075037,0.0,-0.075037,-0.075037,-0.471012,0.0,-0.471012,-0.471012,DoS attacks-GoldenEye
2,0.0,0.0,-1.609503,-0.286628,0.316739,0.926888,0.829398,0.931614,1.283018,0.0,...,0.0,-0.075037,0.0,-0.075037,-0.075037,-0.471012,0.0,-0.471012,-0.471012,DoS attacks-GoldenEye
3,0.0,0.0,-1.609503,-0.286950,0.316739,0.926888,0.100458,0.931614,0.238635,0.0,...,0.0,-0.075037,0.0,-0.075037,-0.075037,-0.471012,0.0,-0.471012,-0.471012,DoS attacks-GoldenEye
4,0.0,0.0,-1.609503,-0.286863,0.316739,0.926888,0.268675,0.931614,0.479646,0.0,...,0.0,-0.075037,0.0,-0.075037,-0.075037,-0.471012,0.0,-0.471012,-0.471012,DoS attacks-GoldenEye

Dataframe: DDOS attack-LOIC-UDP

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.682453,0.230817,6.801428,0.0,6.801428,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-LOIC-UDP
1,0.0,0.0,-1.680787,0.222024,5.026236,0.0,5.026236,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-LOIC-UDP
2,0.0,0.0,-1.679121,0.235081,4.649726,0.0,4.649726,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-LOIC-UDP
3,0.0,0.0,-1.677454,0.237164,5.482300,0.0,5.482300,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-LOIC-UDP
4,0.0,0.0,-1.677454,0.226476,3.614678,0.0,3.614678,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-LOIC-UDP

Dataframe: DoS attacks-SlowHTTPTest

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.526748,2.508480,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-SlowHTTPTest
1,0.0,0.0,-1.526748,-0.295217,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-SlowHTTPTest
2,0.0,0.0,-1.526748,-0.295217,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-SlowHTTPTest
3,0.0,0.0,-1.526748,-0.295217,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-SlowHTTPTest
4,0.0,0.0,-1.526748,-0.450978,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DoS attacks-SlowHTTPTest

Dataframe: DDoS attacks-LOIC-HTTP

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
7,0.0,0.0,-1.739256,-0.753626,0.998457,0.998457,0.998457,0.998457,0.998457,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.700193,0.0,-0.700193,-0.700193,DDoS attacks-LOIC-HTTP
8,0.0,0.0,-1.738331,-0.711579,0.998457,0.998457,0.998457,0.998457,0.998457,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.700193,0.0,-0.700193,-0.700193,DDoS attacks-LOIC-HTTP
9,0.0,0.0,-1.738331,-0.750184,0.998457,0.998457,0.998457,0.998457,0.998457,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.700193,0.0,-0.700193,-0.700193,DDoS attacks-LOIC-HTTP
10,0.0,0.0,-1.737406,-0.736216,0.998457,0.998457,0.998457,0.998457,0.998457,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.700193,0.0,-0.700193,-0.700193,DDoS attacks-LOIC-HTTP
11,0.0,0.0,-1.737406,-0.736230,0.998457,0.998457,0.998457,0.998457,0.998457,0.0,...,0.0,0.0,0.0,0.0,0.0,-0.700193,0.0,-0.700193,-0.700193,DDoS attacks-LOIC-HTTP

Dataframe: Bot

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,0.677985,1.467797,1.018394,1.014700,1.018645,1.016374,1.018645,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
1,0.0,0.0,0.677985,-0.795561,-0.981938,-0.981405,-0.981743,-0.982564,-0.981743,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
2,0.0,0.0,0.678109,0.620972,1.018394,1.014700,1.018645,1.016374,1.018645,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
3,0.0,0.0,0.678109,-0.813081,-0.981938,-0.981405,-0.981743,-0.982564,-0.981743,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot
4,0.0,0.0,0.678234,0.619804,1.018394,1.014700,1.018645,1.016374,1.018645,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Bot

Dataframe: DoS attacks-Hulk

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
2,0.0,0.0,-1.628098,-0.167734,-0.437712,-0.211762,-0.212338,-0.213128,-0.212338,0.0,...,0.0,-0.03189,0.0,-0.03189,-0.03189,-0.034248,0.0,-0.034248,-0.034248,DoS attacks-Hulk
5,0.0,0.0,-1.628098,-0.167437,-0.437712,-0.211762,-0.212338,-0.213128,-0.212338,0.0,...,0.0,-0.03189,0.0,-0.03189,-0.03189,-0.034248,0.0,-0.034248,-0.034248,DoS attacks-Hulk
6,0.0,0.0,-1.628098,-0.167960,-0.437712,-0.211762,-0.212338,-0.213128,-0.212338,0.0,...,0.0,-0.03189,0.0,-0.03189,-0.03189,-0.034248,0.0,-0.034248,-0.034248,DoS attacks-Hulk
8,0.0,0.0,-1.628098,-0.167167,-0.437712,-0.211762,-0.212338,-0.213128,-0.212338,0.0,...,0.0,-0.03189,0.0,-0.03189,-0.03189,-0.034248,0.0,-0.034248,-0.034248,DoS attacks-Hulk
10,0.0,0.0,-1.628098,-0.167838,-0.437712,-0.211762,-0.212338,-0.213128,-0.212338,0.0,...,0.0,-0.03189,0.0,-0.03189,-0.03189,-0.034248,0.0,-0.034248,-0.034248,DoS attacks-Hulk

Dataframe: Brute Force -Web

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,-0.492524,-0.445099,-1.267778,-0.756294,-0.374194,-0.310793,-0.462543,-0.379319,0.153858,-0.51558,...,0.546869,-0.51558,0.0,-0.51558,-0.51558,-0.502513,-0.515581,-0.564822,-0.332461,Brute Force -Web
1,-0.492524,-0.445099,-1.267611,-0.922842,-0.554396,-0.547889,-0.568040,-0.528489,-1.327886,-0.51558,...,0.546869,-0.51558,0.0,-0.51558,-0.51558,-0.502513,-0.515581,-0.564822,-0.332461,Brute Force -Web
4,-0.492524,-0.445099,-1.267611,-0.794145,-0.521632,-0.453051,-0.540954,-0.516219,0.731429,-0.51558,...,0.546869,-0.51558,0.0,-0.51558,-0.51558,-0.502513,-0.515581,-0.564822,-0.332461,Brute Force -Web
5,-0.492524,-0.445099,-1.267491,-0.922842,-0.554396,-0.547889,-0.568040,-0.528489,-1.327886,-0.51558,...,0.546869,-0.51558,0.0,-0.51558,-0.51558,-0.502513,-0.515581,-0.564822,-0.332461,Brute Force -Web
6,-0.492524,-0.445099,-1.267611,-0.793992,-0.521632,-0.453051,-0.547918,-0.492486,0.201989,-0.51558,...,0.546869,-0.51558,0.0,-0.51558,-0.51558,-0.502513,-0.515581,-0.564822,-0.332461,Brute Force -Web

Dataframe: DDOS attack-HOIC

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
5,0.0,0.0,-1.425764,1.909759,-0.556288,-0.556288,-0.552545,-0.556288,-0.552545,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-HOIC
6,0.0,0.0,-1.425764,1.915799,-0.556288,-0.556288,-0.552545,-0.556288,-0.552545,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-HOIC
7,0.0,0.0,-1.425764,1.918325,-0.556288,-0.556288,-0.552545,-0.556288,-0.552545,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-HOIC
8,0.0,0.0,-1.425764,1.926672,-0.556288,-0.556288,-0.552545,-0.556288,-0.552545,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-HOIC
9,0.0,0.0,-1.425764,1.943254,-0.556288,-0.556288,-0.552545,-0.556288,-0.552545,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,DDOS attack-HOIC

Dataframe: SQL Injection

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.235955,0.594664,0.218623,0.912974,0.739443,-0.051648,1.029980,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SQL Injection
1,0.0,0.0,-1.235834,-1.168598,-0.575810,-0.956449,-0.527858,-0.451325,-1.100600,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SQL Injection
2,0.0,0.0,-1.235592,0.577425,-0.046188,0.539090,0.062244,-0.348220,0.878968,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SQL Injection
3,0.0,0.0,-1.235471,-1.168608,-0.575810,-0.956449,-0.527858,-0.451325,-1.100600,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SQL Injection
4,0.0,0.0,-1.235592,3.326893,3.131544,3.156283,2.611526,3.485394,0.862554,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SQL Injection

Dataframe: Brute Force -XSS

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
2,0.0,0.0,-1.426941,0.894878,0.982771,1.113920,0.959559,1.074030,1.013794,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
3,0.0,0.0,-1.425588,-0.982569,-0.988207,-0.983113,-0.983084,-0.983090,-0.986394,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
5,0.0,0.0,-1.424685,-0.982573,-0.988207,-0.983113,-0.983084,-0.983090,-0.986394,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
6,0.0,0.0,-1.424811,0.951101,0.982771,1.113920,0.962951,1.076296,1.013794,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS
7,0.0,0.0,-1.423432,-0.982570,-0.988207,-0.983113,-0.983084,-0.983090,-0.986394,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Brute Force -XSS

Dataframe: SSH-Bruteforce

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,0.0,0.0,-1.73052,2.016120,0.956773,1.066397,0.993373,0.99997,0.999941,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
1,0.0,0.0,-1.73052,2.042842,0.956773,1.066397,1.009915,0.99997,0.999941,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
2,0.0,0.0,-1.73052,1.880194,0.956773,0.869791,0.993373,0.99997,0.999941,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
3,0.0,0.0,-1.73052,1.896774,0.956773,0.968094,1.026457,0.99997,0.999941,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce
4,0.0,0.0,-1.73052,2.069288,0.956773,0.968094,1.009915,0.99997,0.999941,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SSH-Bruteforce

Dataframe: Infilteration

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,Label
0,-0.429981,-0.692652,-0.839336,-0.331197,-0.158837,-0.466566,-0.263774,-0.209702,-0.375192,-0.68289,...,0.4232,-0.17375,-0.117331,-0.189746,-0.155122,-0.274155,-0.146438,-0.278402,-0.265963,Infilteration
1,-0.429981,-0.692652,-0.839288,-0.331196,-0.158837,-0.466566,-0.263774,-0.209702,-0.375192,-0.68289,...,0.4232,-0.17375,-0.117331,-0.189746,-0.155122,-0.274155,-0.146438,-0.278402,-0.265963,Infilteration
2,-0.429981,-0.692652,-0.839288,-0.331183,-0.158837,-0.466566,-0.263774,-0.209702,-0.375192,-0.68289,...,0.4232,-0.17375,-0.117331,-0.189746,-0.155122,-0.274155,-0.146438,-0.278402,-0.265963,Infilteration
3,-0.429981,-0.692652,-0.839288,-0.331177,-0.158837,-0.466566,-0.263774,-0.209702,-0.375192,-0.68289,...,0.4232,-0.17375,-0.117331,-0.189746,-0.155122,-0.274155,-0.146438,-0.278402,-0.265963,Infilteration
4,-0.429981,-0.692652,-0.839288,-0.331174,-0.158837,-0.466566,-0.263774,-0.209702,-0.375192,-0.68289,...,0.4232,-0.17375,-0.117331,-0.189746,-0.155122,-0.274155,-0.146438,-0.278402,-0.265963,Infilteration

In [27]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key


    columns = [col for col in df.columns if col != 'Label']

    corr_matrix = df[columns].corr().abs()

    threshold = 0.99
    # Find features with high correlation
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))
    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]

    print(f'\nDataset: {key}')
    # Print features to drop
    print(f"The following {len(to_drop)} features will be dropped due to high correlation: {to_drop}")

    df = df.drop(to_drop, axis = 1)

'for key in dfs.keys():\n    df = dfs[key]  # Get the dataframe corresponding to the key\n\n\n    columns = [col for col in df.columns if col != \'Label\']\n\n    corr_matrix = df[columns].corr().abs()\n\n    threshold = 0.99\n    # Find features with high correlation\n    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(bool))\n    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]\n\n    print(f\'\nDataset: {key}\')\n    # Print features to drop\n    print(f"The following {len(to_drop)} features will be dropped due to high correlation: {to_drop}")\n\n    df = df.drop(to_drop, axis = 1)'

In [23]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    # replace +ve and -ve infinity with NaN
    df.replace([np.inf, -np.inf], np.nan, inplace=True)
    # Drop all NaN values
    df.dropna(inplace=True)

Dataframe: 'DoS attacks-GoldenEye'

Dataframe: 'DoS attacks-SlowHTTPTest'

Dataframe: 'DDOS attack-LOIC-UDP'

Dataframe: 'Infilteration'

Dataframe: 'SQL Injection'

Dataframe: 'SSH-Bruteforce'

Dataframe: 'Brute Force -Web'

Dataframe: 'Brute Force -XSS'

Dataframe: 'DDOS attack-HOIC'

Dataframe: 'DoS attacks-Slowloris'

Dataframe: 'Bot'

Dataframe: 'FTP-BruteForce'

Dataframe: 'DDoS attacks-LOIC-HTTP'

Dataframe: 'DoS attacks-Hulk'

In [31]:
"""for i in dfs:
    dfs[i].to_csv('temp/' + i + '.csv')"""

"for i in dfs:\n    dfs[i].to_csv('temp/' + i + '.csv')"

In [32]:
for i in dfs:
    print(dfs[i].shape)

(193331, 80)
(10468, 80)
(40668, 80)
(1730, 80)
(139877, 80)
(573061, 80)
(280820, 80)
(455650, 80)
(600, 80)
(683607, 80)
(86, 80)
(219, 80)
(187469, 80)
(152880, 80)

In [33]:
for key in dfs.keys():
    df = dfs[key]  # Get the dataframe corresponding to the key
    print(f"Dataframe: '{key}'\n")
    print(f"{df['Label'].value_counts()}\n")

Dataframe: 'FTP-BruteForce'

Label
FTP-BruteForce    193331
Name: count, dtype: int64

Dataframe: 'DoS attacks-Slowloris'

Label
DoS attacks-Slowloris    10468
Name: count, dtype: int64

Dataframe: 'DoS attacks-GoldenEye'

Label
DoS attacks-GoldenEye    40668
Name: count, dtype: int64

Dataframe: 'DDOS attack-LOIC-UDP'

Label
DDOS attack-LOIC-UDP    1730
Name: count, dtype: int64

Dataframe: 'DoS attacks-SlowHTTPTest'

Label
DoS attacks-SlowHTTPTest    139877
Name: count, dtype: int64

Dataframe: 'DDoS attacks-LOIC-HTTP'

Label
DDoS attacks-LOIC-HTTP    573061
Name: count, dtype: int64

Dataframe: 'Bot'

Label
Bot    280820
Name: count, dtype: int64

Dataframe: 'DoS attacks-Hulk'

Label
DoS attacks-Hulk    455650
Name: count, dtype: int64

Dataframe: 'Brute Force -Web'

Label
Brute Force -Web    600
Name: count, dtype: int64

Dataframe: 'DDOS attack-HOIC'

Label
DDOS attack-HOIC    683607
Name: count, dtype: int64

Dataframe: 'SQL Injection'

Label
SQL Injection    86
Name: count, dtype: int64

Dataframe: 'Brute Force -XSS'

Label
Brute Force -XSS    219
Name: count, dtype: int64

Dataframe: 'SSH-Bruteforce'

Label
SSH-Bruteforce    187469
Name: count, dtype: int64

Dataframe: 'Infilteration'

Label
Infilteration    152880
Name: count, dtype: int64

In [24]:
combined = pd.concat(dfs.values())

In [26]:
for column in combined.columns:
    if (combined[column] == 0).all():
        combined[column] = combined[column].replace(0,np.nan)

combined=combined.dropna(axis=1,how='all')

In [27]:
combined.describe()

,Dst Port,Protocol,Timestamp,Flow Duration,Tot Fwd Pkts,Tot Bwd Pkts,TotLen Fwd Pkts,TotLen Bwd Pkts,Fwd Pkt Len Max,Fwd Pkt Len Min,...,Fwd Act Data Pkts,Fwd Seg Size Min,Active Mean,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min
count,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,...,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06,2.720466e+06
mean,2.023726e-02,3.653551e-01,3.721147e-01,2.994213e-02,2.473727e-04,7.639355e-03,2.546201e-04,1.081741e-03,5.033937e-02,1.635987e-03,...,2.439383e-04,6.335467e-01,7.843220e-04,4.054994e-04,7.687191e-04,7.382951e-04,2.294270e-02,1.943193e-03,2.340152e-02,2.264067e-02
std,7.574945e-02,8.946170e-02,2.969051e-01,1.066921e-01,9.827859e-03,1.692552e-02,9.827946e-03,5.894048e-03,1.124610e-01,1.332500e-02,...,9.827938e-03,1.949965e-01,1.360084e-02,8.317825e-03,1.287854e-02,1.320790e-02,8.081879e-02,4.058609e-02,8.242559e-02,8.043329e-02
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.220796e-03,3.529412e-01,1.209103e-01,5.375000e-06,3.229682e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,1.220796e-03,3.529412e-01,3.868839e-01,8.906667e-05,3.229682e-06,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,5.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.220796e-03,3.529412e-01,4.262358e-01,3.271581e-03,6.459364e-06,1.498127e-02,2.018545e-06,4.089020e-04,1.369863e-02,0.000000e+00,...,3.229682e-06,8.000000e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [28]:
combined['Label'].value_counts()

Label
DDOS attack-HOIC            683607
DDoS attacks-LOIC-HTTP      573061
DoS attacks-Hulk            455650
Bot                         280820
FTP-BruteForce              193331
SSH-Bruteforce              187469
Infilteration               152880
DoS attacks-SlowHTTPTest    139877
DoS attacks-GoldenEye        40668
DoS attacks-Slowloris        10468
DDOS attack-LOIC-UDP          1730
Brute Force -Web               600
Brute Force -XSS               219
SQL Injection                   86
Name: count, dtype: int64

In [29]:
combined.shape

(2720466, 69)

In [30]:
# Assuming 'combined' is your DataFrame and you want to save it to a CSV file
combined.to_csv('temp/combined.csv')